:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #gameboard {
    display: grid;
    height:250px;
    width:250px;
   padding-left: calc((100vw - 250px) / 2 );
   padding-right: calc((100vw - 250px) / 2 );
    grid-gap: 0em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  
  .grid-item {
    padding: 0em;
    border: 1px solid #000000;
    text-align: center;
    height: 100px;
  }

  h1{
    text-align: center;
    padding: 50px
    
  }


  .center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 200px;
  }